.container {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
}

.main {
  height: 90%;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background__image {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.logo {
  width: 25%;
  height: 20%;
  position: absolute;
  top: 5px;
  left: 2px;
  cursor: pointer;
}

.home__buttons {
  position: absolute;
  top: 20px;
  right: 10px;
  font-size: 16px;
  width: 8em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__button__plain {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  width: 100%;
  height: 2em;
  background-color: #9fc5f8;
  color: black;
  border: 2px solid black;
  cursor: pointer;
  font-weight: 600;
}

.footer {
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 15px 25px;
}

.social__links {
  display: flex;
}

.icon {
  width: 40px;
  height: 40px;
  margin-right: 5px;
  position: relative;
  cursor: pointer;
}

.query {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.name__field {
  display: flex;
  font-size: 16px;
  height: 2em;
  width: 55%;
  border: 2px solid black;
  display: flex;
  align-items: center;
  background-color: white;
  margin-bottom: 20px;
}

.name__label {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: white;
}

.name__input {
  flex-grow: 1;
  height: 100%;
  border: none;
  display: flex;
  align-items: center;
  padding-left: 10px;
  font-size: 16px;
}

.name__input:focus {
  border: none;
  outline: none;
}

.query__field {
  height: 15em;
  width: 100%;
  border: 2px solid black;
  position: relative;
}

.query__label {
  font-size: 14px;
  position: absolute;
  left: 10px;
  top: -10px;
  z-index: 2;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  border: 1px solid black;
}

.query__input {
  width: 100%;
  height: 100%;
  font-size: 16px;
  padding: 25px 10px;
}
.query__input:focus {
  outline: none;
}

.query__submit {
  align-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  width: 15%;
  height: 2em;
  background-color: #093064;
  color: white;
  border: 2px solid black;
  cursor: pointer;
  font-weight: 600;
  margin-top: 10px;
}
