.container {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
}

.main {
  height: 90%;
  width: 100%;
  position: relative;
}

.background__image {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.logo {
  width: 25%;
  height: 20%;
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
}

.home__buttons {
  position: absolute;
  top: 50px;
  right: 40px;
  font-size: 16px;
  width: 10em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__button__plain {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #9fc5f8;
  color: #6fa8dc;
  font-size: 16px;
  height: 2em;
  padding: 0 0.5em;
}

.social__links {
  display: flex;
  position: absolute;
  bottom: 5px;
  right: 150px;
}

.icon {
  width: 40px;
  height: 40px;
  margin-right: 5px;
  position: relative;
  cursor: pointer;
}
