.container {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
}

.main {
  height: 90%;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background__image {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.logo {
  width: 25%;
  height: 20%;
  position: absolute;
  top: 5px;
  left: 2px;
  cursor: pointer;
}

.footer {
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 15px 25px;
}

.social__links {
  display: flex;
}

.icon {
  width: 40px;
  height: 40px;
  margin-right: 5px;
  position: relative;
  cursor: pointer;
}

.inner__div {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  width: 30%;
}

.title {
  padding: 5px;
  margin-bottom: 25px;
  background-color: white;
  border: 2px solid black;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.details {
  width: 60%;
  padding: 5px;
  background-color: white;
  border: 2px solid black;
}
