.container {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
}

.main {
  height: 60%;
  width: 100%;
  position: relative;
}

.background__image {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.logo {
  width: 20%;
  height: 20%;
  position: absolute;
  top: 20px;
  left: 20px;
}

.home__buttons {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 16px;
  width: 10em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0em 0.1em 0em 0.2em;
  border: 2px solid #9fc5f8;
  color: #6fa8dc;
  font-size: 16px;
  width: 10em;
  height: 2em;
  margin-bottom: 20px;
}

.dropdown__arrow {
  width: 30px;
  height: 30px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 2px solid #9fc5f8;
}

.support__button {
  font-size: 13px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em 0.1em;
  background-color: #6fa8dc;
  border: 3px outset black;
  cursor: pointer;
  width: 60%;
}

.footer {
  flex-grow: 1;
  width: 100%;
  background-color: #f1c232;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__links {
  width: 70%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.column__item {
  color: #085394;
  text-decoration: underline;
  font-weight: 600;
  font-family: sans-serif;
  line-height: 24px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.contact__icon {
  position: relative;
  width: 1.2em;
  height: 1.2em;
  margin-right: 10px;
}

.get__in__touch {
  color: #085394;
  font-weight: 600;
  font-family: sans-serif;
  font-size: 18px;
  line-height: 24px;
  margin-left: 26px;
}

.copyright {
  align-self: flex-start;
  margin-left: 15%;
  margin-top: 10px;
  height: 24px;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  font-family: sans-serif;
  position: relative;
  bottom: 20px;
}

.socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 26px;
  margin-top: 10px;
}

.social__links {
  display: flex;
}

.icon {
  width: 25px;
  height: 25px;
  margin-right: 5px;
  position: relative;
  cursor: pointer;
}

.socials__label {
  color: #085394;
  font-weight: 500;
}
