.container {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
}

.main {
  height: 90%;
  width: 100%;
  position: relative;
}

.background__image {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.logo {
  width: 25%;
  height: 20%;
  position: absolute;
  top: 5px;
  left: 2px;
  cursor: pointer;
}

.home__buttons {
  position: absolute;
  top: 20px;
  right: 10px;
  font-size: 16px;
  width: 6em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__button__plain {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0.2em;
  border: 2px solid #9fc5f8;
  color: #6fa8dc;
  font-size: 16px;
  width: 100%;
  height: 2em;
}

.footer {
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 15px 25px;
}

.social__links {
  display: flex;
}

.icon {
  width: 40px;
  height: 40px;
  margin-right: 5px;
  position: relative;
  cursor: pointer;
}
